{% extends '::base.html.twig' %}

{% block title %}Symfony2 Tweets{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link href="http://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ asset('bundles/vichsf2tweets/css/site.css') }}" rel="stylesheet" type="text/css" media="screen" />
{% endblock stylesheets %}
  
{% block body %}
   {% block content %}{% endblock content %}
    <div class="topbar">
        <div class="topbar-inner">
            <div class="container-fluid">
                <a class="brand" href="{{ path('homepage') }}">Symfony2 Tweets</a>
                <p class="pull-right tagline">
                    {{ 'topbar.tagline' | trans([], 'VichSf2TweetsBundle') }}
                </p>
                <div class="new-tweet">
                    {{ 'topbar.newtweet' | trans([], 'VichSf2TweetsBundle') }}
                </div>
            </div>
        </div>
    </div>
    <div class="bottombar">
        <div class="bottombar-inner">
            <div class="container-fluid">
                <p class="pull-left description">
                    {{ 'bottombar.info' | trans([], 'VichSf2TweetsBundle') }} 
                    <a href="https://github.com/dustin10/sf2tweets" target="_blank" class="repo">GitHub</a>.
                </p>
                <nav class="pull-right footer-nav">
                    <ul>
                        <li>
                            <a data-controls-modal="about" data-backdrop="true" data-keyboard="true">
                                {{ 'bottombar.about' | trans([], 'VichSf2TweetsBundle') }}
                            </a>
                        </li>
                        <li>
                            <a class="pull-right fork-me" href="https://github.com/dustin10" target="_blank">
                                {{ 'bottombar.fork' | trans([], 'VichSf2TweetsBundle') }}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div id="about" class="modal">
        <div class="modal-header">
            <h3>About Symfony2 Tweets</h3>
        </div>
        <div class="modal-body">
            <p>
                {{ 'aboutdialog.first_paragraph' | trans([], 'VichSf2TweetsBundle') }}, 
                <a href="https://github.com/dustin10/VichGeographicalBundle" target="_blank">VichGeographicalBundle</a>.
            </p>
            <p>
                {{ 'aboutdialog.second_paragraph' | trans([], 'VichSf2TweetsBundle') }}:
            </p>
            <ul>
                <li>
                    <a href="https://github.com/dustin10/sf2tweets" target="_blank">
                        {{ 'aboutdialog.repo' | trans([], 'VichSf2TweetsBundle') }}
                    </a>
                </li>
                <li>
                    <a href="https://github.com/dustin10/sf2tweets-node" target="_blank">
                        {{ 'aboutdialog.node_repo' | trans([], 'VichSf2TweetsBundle') }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            &nbsp;
        </div>
    </div>
{% endblock body %}
    
{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script src="{{ asset('bundles/vichsf2tweets/js/bootstrap-modal.js') }}" type="text/javascript"></script>
    <script src="http://localhost:9999/socket.io/socket.io.js" type="text/javascript"></script>
{% endblock javascripts %}