<div class="tweet">
    <a href="http://www.twitter.com/{{ tweet.twitterUserScreenName }}" target="_blank">
        <img src="{{ tweet.twitterUserAvatarUrl }}" alt="{{ tweet.twitterUserScreenName }}" title="{{ tweet.twitterUserScreenName }}" />
    </a>
    <a href="http://www.twitter.com/{{ tweet.twitterUserScreenName }}" target="_blank">
        @{{ tweet.twitterUserScreenName }}
    </a>
    <p class="tweet_message">
        {{ tweet.formattedMessage | raw }}
    </p>
    <p>
        <a href="http://www.twitter.com/{{ tweet.twitterUserScreenName }}/status/{{ tweet.twitterId }}" target="_blank">
            {{ 'tweet.view' | trans([], 'VichSf2TweetsBundle') }} &raquo;
        </a>
    </p>
</div>